pyramid
simplejson
gunicorn
geojson
psycopg2
pyyaml
numpy
rpy2
Shapely
-e git+git://github.com/chrisnatali/geoalchemy.git#egg=geoalchemy
-e git+git://github.com/chrisnatali/spatial_utils.git#egg=spatial_utils
colander
SQLAlchemy
transaction
pyramid_tm
pyramid_debugtoolbar
zope.interface>=3.8.0
zope.sqlalchemy
fabric
