html, body { 
    background: #eee;
    padding-top: 30px;
} 
.content  { 
  background: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 20px;
} 


#region-map { 
    height: 500px;
    width: 100%;
    background: #eee;
} 

form label { 
  padding: 5px;
}

#scenario-map { 
    background: #eee;
} 
